<div id="conteudo">
    <div id="fundo"></div>
    <div id="sobre">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum accusantium magnam at. Quas vel a
            sapiente
            harum
            quae atque culpa, rerum natus, assumenda cupiditate facere doloribus eaque nisi et veritatis.</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quidem inventore nobis, facilis excepturi
            molestiae
            quaerat exercitationem vitae explicabo ut voluptate. Ea asperiores autem obcaecati possimus cum
            similique
            eaque!
            Perferendis, ipsam?</p>
    </div>
</div>