*
{
    margin: 0;
}

#sobre
{
    background-image: url("../../assets/componentes_eletronicos_fundo.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 550px;
}
 #sobre p
 {
    float: right;
    text-align: right;
    width: 50%;
    height: 550px;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 10%, rgba(255,255,255,1) 100%);
 }